# Build Folders
bin/
obj/

# NuGet Packages folder
packages/

# User-specific files
*.user
*.suo
*.userprefs

# expo and other
ios/
android/
.expo/
build/

# macOS unsupported
attach.go/
console.go/
tray.go/

# Visual Studio Code files (optional)
.vscode/

# Others
*.log
*.vs/

.fake