# Build Folders
bin/
obj/

# NuGet Packages folder
packages/

# User-specific files
*.user
*.suo
*.userprefs

# expo and other
ios/
android/
.expo/
build/

# macOS unsupported
server/ChatServer/attach.go/
server/ChatServer/console.go/
server/ChatServer/tray.go/

# Visual Studio Code files (optional)
.vscode/

# Others
*.log
*.vs/

.fake